.heading {
  border: 1px solid;
  padding: 0.25%;
  margin: auto;
}

.todo-logo {
  /* border: 1px solid; */
  font-weight: 100;
}

.new-list {
  border: 1px solid;
  width: 98.3%;
  padding: 0.15%;
  margin: 1% auto;
  position: fixed;
  bottom: 0%;
  display: flex;
}

.new-title {
  width: 96%;
  height: 34px;
  font-size: 1.4vw;
}

.add-new-button {
  width: 4%;
  height: 40px;
}

.task-list {
  border: 1px solid;
  padding: 0.15%;
  margin: 1% auto;
  position: fixed;
  width: 98.3%;
  height: 77%;
  overflow-y: scroll;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.task {
  border: 1px solid;
  padding: 0.2%;
  margin: 2% auto;
  width: 45%;
  height: fit-content;
  letter-spacing: 0.05vw;
  font-size: 1.6vw;
}

.task-top {
  border: 1px solid;
  padding: 0.3%;
}

.task-title {
  display: inline-block;
  width: 94%;
  font-size: 2vw;
}

.task-delete {
  width: 4%;
  padding: 0.3%;
}

.task-delete img {
  position: relative;
  right: 5%;
}

.new-item {
  border: 1px solid;
  padding: 0.15%;
  margin: 1% auto;
  display: flex;
}

.new-item-title {
  width: 93%;
  height: 28px;
  font-size: 1.4vw;
}

.add-new-item-btn {
  margin-left: 0.1%;
  width: 5.8%;
}

.add-new-item-btn img {
  position: relative;
  right: 11%;
}

.items {
  border: 1px solid;
  padding: 0.3%;
  margin-top: 0.3%;
}

.item-title {
  display: inline-block;
  width: 88.9%;
  margin: 0.5% auto;
}

.btn-marker {
  opacity: 100%;
}

.item-mark,
.item-delete {
  width: 4%;
  padding: 0.3%;
}

.buttons {
  border-radius: 8%;
  background-image: linear-gradient(
    to top left,
    rgba(180, 180, 180, 0.6) 30%,
    rgba(233, 233, 233, 0.6)
  );
}

.buttons:hover {
  box-shadow: 0.5px 0.5px 1px 1px rgba(100, 100, 100, 0.3);
}

.icon {
  opacity: 40%;
}

.done {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  text-decoration: line-through rgba(0, 0, 0, 0.8);
  fill: rgb(5, 129, 5, 1);
  opacity: 100%;
}

.buttons:hover .icon {
  opacity: 100%;
}
