.heading {
  border: 1px solid;
  padding: 0.25%;
  margin: auto;
}

.todo-logo {
  border: 1px solid;
  font-weight: 100;
}

.new-list {
  border: 1px solid;
  padding: 0.15%;
  margin: 1% auto;
  display: flex;
}

#new-title {
  width: 96%;
  height: 34px;
  font-size: 1.4vw;
}

.add-new-button {
  width: 4%;
  height: 40px;
}

.task-list {
  border: 1px solid;
  padding: 0.15%;
}

.item {
  border: 1px solid;
  padding: 0.2%;
  margin: 0.2% auto;
  letter-spacing: 0.05vw;
  font-size: 1.6vw;
}

.item-delete {
  position: absolute;
  right: 1%;
  width: 4%;
  padding: 0.3%;
}
